:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --logo-black-color: #000000;
  --footer-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --border-color: #eeeeee;
  --hero-bg-color: #c4c4c4;
  --icon-link-color: #afb1b8;
  --footer-bg-link-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Утилиты */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Page header */

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.page-header__layout {
  display: flex;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-black-color);
  text-decoration: none;
}

.logo--accent {
  color: var(--accent-color);
}

/* Site nav и Contacts */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__link {
  color: var(--title-text-color);
}

.site-nav__link--active {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  color: inherit;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link,
.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__link:hover,
.site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-bg-color);
}

.hero__title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Button */

.button {
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding {
  padding-top: 0;
}

.section--secondary {
  background-color: var(--secondary-bg-color);
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* Features */

.features {
  display: flex;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__thumb {
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Gallery */

.gallery {
  display: flex;
}

.gallery__item:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.team {
  display: flex;
}

.team__card {
  width: 270px;
  margin-right: 30px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.team__card:last-child {
  margin-right: 0;
}

.team__worker {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  background-color: var(--primary-white-color);
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  color: var(--title-text-color);
}

.team__profession {
  margin-bottom: 16px;
}

.team__name,
.team__profession {
  margin-top: 0;

  font-size: 16px;
  line-height: 1.19;
}

/* Social networks */

.social-networks {
  display: inline-flex;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;

  color: var(--icon-link-color);
  border-radius: 50%;
}

.social-networks__link--follow {
  color: var(--primary-white-color);
  background-color: var(--footer-bg-link-color);
}

.social-networks__link:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-networks__icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

/* Clients */

.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;

  color: var(--icon-link-color);

  border: 1px solid var(--icon-link-color);
  border-radius: 4px;
}

.clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/* Page footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.page-footer__layout {
  display: flex;
  align-items: baseline;
}

.page-footer__logo {
  color: var(--primary-white-color);
}

.page-footer__address {
  margin-top: 20px;

  font-style: normal;
  color: var(--primary-white-color);
}

.page-footer__social {
  margin-left: 70px;
}

.page-footer__text {
  margin-top: 0;
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Address contacts */

.address-contacts {
  margin-top: 9px;
}

.address-contacts__item:not(:first-child) {
  margin-top: 9px;
}

.address-contacts__link {
  color: var(--footer-link-color);
  text-decoration: none;
}

/* Стили для portfolio.html */

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  background-color: var(--secondary-bg-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Works */

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works__card:nth-child(3n) {
  margin-right: 0;
}

.works__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works__card:hover,
.works__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__link {
  color: inherit;
  text-decoration: none;
}

.works__content {
  padding: 20px 24px;

  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.works__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.works__type {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
}
